* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url(/images/bg-image2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow-x: hidden;
}

.weather-wrapper {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 2px solid #7393b3;
  border-radius: 10px;
}
