body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-image: url("/images/weather-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow-x: hidden;
}

h1.main-heading {
  font-family: "Roboto Mono", monospace;
  font-size: 40px;
}
h2.sub-heading {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: bold;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
p.day-para {
  font-size: 22px;
}

strong {
  font-size: 26px;
}

.search-box-container {
  width: 340px;
  padding: 12px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin: 1% 3%;
}

.search-box {
  background: #a7c7e7;
}

.hero-image {
  display: block;
  width: 250px;
  margin: 15px auto;
}

.current-weather-info {
  margin: 30px 50px 20px;
}

.card {
  width: 180px;
  margin: 5px;
}

div.card-border {
  border: none;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 35px;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
}

.card-body {
  text-align: center;
}

.weather-container {
  margin: 0 auto;
  max-width: 1000px;
}

img {
  width: 100px;
}

button.search-btn {
  background: #1434a4;
  background-image: -webkit-linear-gradient(bottom, #1434a4, #89cff0);
  background-image: -moz-linear-gradient(top, #1434a4, #89cff0);
  border: 1px solid #0047ab;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
  padding: 5px 15px;
  margin: 0 5px;
}

button.search-btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #7df9ff, #3498db);
  background-image: -moz-linear-gradient(bottom, #7df9ff, #3498db);
}

/* CSS styles: Footer  */
a.credit {
  display: block;
  font-size: 12px;
  margin-left: 5%;
  margin-top: 3%;
}

.temperature {
  font-size: 44px;
}
