* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.8;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-wrapper {
  padding: 20px 30px 0;
}

.left-weather-container {
  margin-bottom: 25px;
}

.weather-image img {
  margin-right: 15px;
  height: 150px;
  width: 150px;
}

.weather-image strong {
  font-size: 110px;
  line-height: 1;
  font-weight: 500;
}

.weather-image .units {
  position: relative;
  font-size: 22px;
  top: -10px;
}
/* Humidity info */
div.humid-wind-info {
  position: relative;
  top: -100px;
}
/* Search engine styles */

.search-box-container {
  width: 400px;
  padding: 12px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin: 2% 1%;
}

.search-box {
  color: #1434a4;
  background: none;
  border: none;
  border-bottom: 1px #36454f solid;
  padding: 0 16px 8px 0;
  width: 60%;
  font-size: 16px;
}

.search-box:focus {
  outline: none;
}

.search-box::placeholder {
  color: #1434a4;
}

.search-btn {
  border-radius: 5px;
  background: #0f52ba;
  border: none;
  padding: 15px;
  margin: 0 10px;
}

.search-btn:hover {
  color: aliceblue;
  background: #3f00ff;
}

.location-btn {
  margin: 5px auto;
  padding: 15px;
  background: #96ded1;
  color: #000;
  border: none;
  border-radius: 5px;
}

.location-btn:hover {
  background: #00a36c;
  color: whitesmoke;
}
/* Background images when the weather condition changes */
.weather-condition-image-1 {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url(/images/weather-snow.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: brightness(116%);
  overflow-x: hidden;
}
.weather-condition-image-2 {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url(/images/weather-cold.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow-x: hidden;
}
.weather-condition-image-3 {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url(/images/weather-hot.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow-x: hidden;
}
/* Styles for the temperature font */

.units .active {
  color: #0047ab;
  text-decoration: none;
  cursor: default;
}

.units .active:hover {
  text-decoration: none;
}

.units a {
  text-decoration: none;
}

.celsius-sign,
.fahrenheit-sign {
  color: #000;
}
/* Weather forecast styles */

.card {
  width: 180px;
  margin: 5px;
  transition: all 200ms ease-in-out;
}

.card-container {
  padding: 10px 10px;
}

.card:hover {
  background: #b6d0e2;
  transform: scale(1.2);
}

div.card-border {
  border: none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 35px;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
}

.card-body {
  text-align: center;
}
.weather-temperature-max {
  font-size: 20px;
}
.weather-temperature-min {
  color: #000080;
  opacity: 0.8;
}

.daily-weather-description {
  font-size: 14px;
}
/* Footer for accessing my project through social media links */
footer {
  margin-top: auto;
  background: #000;
  color: white;
  text-align: center;
  padding: 1% 2%;
}

.social-media-link {
  color: #6495ed;
}

.social-media-link:hover {
  text-decoration: none;
  color: #d22b2b;
}

/* Media Queries for the Weather App */
/****** Media Queries for the search box */

@media (max-width: 384px) {
  .search-box-container {
    margin: 0;
    border-radius: 5px;
  }

  .weather-image strong {
    font-size: 35px;
  }

  div.humid-wind-info {
    position: relative;
    top: -30px;
  }

  .celsius-sign,
  .fahrenheit-sign {
    font-size: 14px;
  }

  .card-container {
    margin: 0 auto;
  }

  footer.social-media {
    margin-left: auto;
  }

  small {
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  h1 {
    font-size: 35px;
  }
  .search-box-container {
    width: 350px;
    padding: 10px;
    margin: 1% 1%;
    border-radius: 5px;
  }

  .update {
    font-size: 12px;
  }

  .weather-image strong {
    font-size: 70px;
  }

  div.humid-wind-info {
    position: relative;
    top: -30px;
  }

  .celsius-sign,
  .fahrenheit-sign {
    font-size: 14px;
  }

  .card-container {
    margin: 0 auto;
  }
}
